
<div class="row">
  <div class="col-sm-6">
    <div class="card bg-secondary text-white">
      <div class="card-body">
        <h5 class="card-title">Reported in Last 24 Hours</h5>
        <p class="card-text">Confirmed COVID-19 cases reported during last 24 hours in Sri Lanka.</p>
        <h2>{{ local_new_cases }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Total Cases</h5>
        <p class="card-text">Cumulative count of confirmed COVID-19 cases in Sri Lanka.</p>
        <h2>{{ local_total_cases }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-4">
    <div class="card bg-danger">
      <div class="card-body">
        <h5 class="card-title">Total Deaths</h5>
        <p class="card-text">Total deaths due to COVID-19 reported in Sri Lanka.</p>
        <h2>{{ local_deaths }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Currently on Treatment</h5>
        <p class="card-text">Confirmed COVID-19 cases currently on treatment at the Hospitals in Sri Lanka.</p>
        <h2>{{ local_active_cases }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title">Total Recovered</h5>
        <p class="card-text">Total COVID-19 cases recovered and discharged in Sri Lanka.</p>
        <h2>{{ local_recovered }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-4">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Total Suspected or Confirmed</h5>
        <p class="card-text">Total suspected or confirmed COVID-19 cases currently hospitalized in Sri Lanka.</p>
        <h2>{{ local_total_number_of_individuals_in_hospitals }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Total Global Cases</h5>
        <p class="card-text">Total global confirmed COVID-19 cases.</p>
        <h2>{{ global_total_cases }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-warning">
      <div class="card-body">
        <h5 class="card-title">Total Global Deaths</h5>
        <p class="card-text">Total global deaths due to COVID-19.</p>
        <h2>{{ global_deaths }}</h2>
      </div>
    </div>
  </div>
</div>